# Personal Files
journey/

# Dependancies
backend/node_modules/
backend/package-lock.json

# Environment Variables
backend/.env

# OS files
.DS_Store
Thumbs.db


# Logs
*.log
npm-debug.log*

# VSCode Settings
.VSCode/settings.json

# Build outputs
dist/
build/
frontend/dist/
frontend/build/

